.walid-secion{
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(108, 151, 189);
    font-weight: 500;
    margin: 20px 10px ;
}
.title{
    font-size: 20px;
    color: rgb(69, 245, 21);
    margin: 5px;
    padding-left: 10px;
    box-shadow: 1px 1px 6px black;
}